body{
    font-family: 'Questrial', sans-serif;
}

/*header*/
header{
    margin-top: 2vh;
}

h3{
    font-size: 1.3rem;
}

/*Box-List*/

.info-box {
    min-height: 140px;
    margin-bottom: 30px;
    padding: 20px;
    color: white;
    border-radius: 4px;
}

.blue-bg {
    color: #fff;
    background: #81d4fa;
    background-color: #81d4fa;
}


.red-bg {
    color: #fff;
    background: #ef5350 ;
    background-color: #ef5350;
}

.purple-bg{
    color: #fff;
    background: #ab47bc;
    background-color: #ab47bc;
}

.green-bg{
    color: #fff;
    background: #4db6ac;
    background-color: #4db6ac;
}

.info-box .title {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
}

.icon-box{
    z-index: 2;
    left: 12px;
    position: absolute;
    top: 0px;
    fill-opacity: 0.3;
}

.icon-blue{
    fill: #58c1e6;
}

.icon-red{
    fill: #d0362b;
}

.icon-purple{
    fill: #942dd0;
}

.icon-green{
    fill: #b9efe2;
}

.box{
    margin-top: 5vh;
}

.font-box-mobile{
   font-weight: bold;
}

/*Charts - Crescimento x Redução */
.h2-title{
    color: #7d7c7c;
}

/*Charts - Contato*/
.card-chart{
    margin-top: 5vh;
    margin-bottom: 5vh;
}

@media (min-width: 300px) and (max-width: 600px){
    .margin-mobile{
        margin-top: 2vh;
    }

    .row-mobile{
        flex-wrap: nowrap;
    }
}

@media (min-width: 760px) and (max-width: 1025px){
    .h2-title{
        font-size: 1.0rem;
    }

    .info-box .title{
        font-size:1.0rem;
    }

    .font-box-mobile{
        font-size:0.6rem;
    }

}